<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="defects"
         resolveDependencies="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/_assets/config</directory>
            <directory>src/_assets/font</directory>
            <directory>src/_assets/images</directory>
            <file>src/Models/modelsExample.php</file>
            <file>src/Controllers/ControllerExample.php</file>
            <file>src/Views/viewsExample.php</file>
        </exclude>
    </source>
</phpunit>
